<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="OnboardingContext" connectionString="metadata=res://*/DAL.OnBoarding.csdl|res://*/DAL.OnBoarding.ssdl|res://*/DAL.OnBoarding.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=hsasql12devtxn;initial catalog=Onboarding;persist security info=True;user id=qauser;password=qauser;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>